APP_NAME='NestJS seed'
PORT=3000

#database credentials
DB_HOST='localhost'
DB_USERNAME='postgres'
DB_PASSWORD='your-db-password'
DB_DATABASE='nest_seed'

HC_STORAGE_THRESHOLD=0.60
HC_STORAGE_PATH='C:\\'
#Heap memory in MB
HC_HEAP_MEM_THRESHOLD=100
#RAM memory in MB
HC_PROCESS_RAM_MEM_THRESHOLD=150
